@model List<Product>;

<h1>Product Panel</h1>
<p>You can manage the available products here.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Discount</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr class="align-middle">
                <th scope="row">@i.Id</th>
                <td>@i.Name
                    @if(i.Discount > 0)
                    {
                        <span class="badge bg-primary">SALE</span>
                    }
                </td>
                <td>@i.Price$</td>
                <td>@i.Category</td>
                <td>@i.Discount%</td>
                <td>
                    @if(i.InStock)
                    {
                        <span class="badge bg-success">In Stock</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Out of Stock</span>
                    }
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-dark" asp-action="Details" asp-route-id="@i.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@i.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Items: @Model.Count</p>